@import url('http://fonts.cdnfonts.com/css/american-typewriter');
@import url('http://fonts.cdnfonts.com/css/bebas-neue');

.modal-container {
  position: absolute;
  left: 50%;
  top: 51.5%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 69vh;
  width: 35vw;
  background: rgba(0, 0, 0, .97);
  color: azure;
  font-family: 'American Typewriter', sans-serif;
  font-size: 25px;
  font-weight: 600;
  border-radius: 50px;
  /* border: 2px rgba(236, 236, 236, 0.5) solid; */
}

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px rgba(236, 236, 236, 0.5) solid;
  padding: 15px;
  background: black;
  border-radius: 10px;
}

.modal-button {
  border-radius: 7px;
  padding: 0.25em 2em;
  margin-top: 1rem;
  /* width: 11vw; */
  font-family: 'Bebas Neue';
  font-weight:600;
  font-size: 20px;
  background: transparent;
  background-color: rgba(104, 12, 12, 0.8);
}

.modal-button:hover {
  box-shadow: 2px 2px 7px 2px rgba(236, 236, 236, 0.4);
}

@media screen and (max-width: 1920px) {
  .modal-container {
    height: 75vh;
    width: 35vw;
  }
}


