.background-image-cultist {
  background: url(../../assets/images/cultistwin.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.background-image-invest {
  background: url(../../assets/images/investwin.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.title-Img  {
  width: 55vw;
  top: 10px;
  left: 50px;
  position: absolute;
}

.player-list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.winner-header {
  position: absolute;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 71px;
  line-height: 88px;
  margin-left: 4%;
  margin-top: 18.5%;
  padding-bottom: 3px;
}

.paragraph{
  position: absolute;
  width: 600px;
  height: 414px;
  text-align: left;

  font-family: 'American Typewriter';
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 38px;
  margin-left: 4%;
  margin-top: 23.5%;
}

.Done-button{
  margin-left: 2.25%;
  margin-top: 735px;
  height: 6vh;
  width: 33vw;
  background-size: cover;
  transform: scale(0.8);
  font-family: 'Bebas Neue';
  font-size: 2em;
  font-weight: 600;
  color: white;
  text-align: center;
  border-radius: 0;
  border: 1px solid transparent;
}

.Done-button:hover {
  opacity: 0.65;
  color: black;
  transition: ease-in-out 0.5s;
  transition-timing-function: ease-in-out .8s;
  box-shadow: 2px 2px 7px 2px rgba(236, 236, 236, 0.5);
  cursor: pointer;
}


@media screen and (max-width: 820px) {
  .title-Img {
    width: 80vw;
    top: 10px;
    left: 50px;
    position: absolute;
  }
  .winner-header {
    margin-top: 25.5%;
    margin-left: 8%;
    padding-bottom: 3px;
  }
  .paragraph {
    margin-top: 35.5%;
    margin-left: 8%;
  }
  .Done-button {
    margin-top: 575px;
    margin-left: -6%;
    width: 100vw
  }
}
/* .player-list {
  margin-top: 6%;
  display: grid;
	gap: 30px;
	grid-template-columns: 1fr 1fr;
	max-height: 540px;
	overflow: auto;
  overflow-x: hidden;
}

.player-list::-webkit-scrollbar {
  width: 10px;
	padding-left: 1px;            
}
.player-list::-webkit-scrollbar-track {
  background: transparent;         
}
.player-list::-webkit-scrollbar-thumb {
  background-color: transparent;    
} */




