
@import url('https://fonts.cdnfonts.com/css/bebas-neue');

.team {
	position: fixed;
	top: 0;
	right: 0;
	margin: 0;
	padding: 1em;
	font-family: 'Bebas Neue', sans-serif;
	font-weight: bold;
	font-size: 25px;
	background-color: rgba(0, 0, 0, 0.7);
}

.cultist {
	background-color: rgb(208, 0, 9, 0.7);
}

.investigator {
	background-color: rgb(0, 130, 209, 0.7);
}
.gameScreenContainer {
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.dayHeader {
    font-family: 'Bebas Neue', sans-serif;
    font-size: normal;
    font-weight: 400;
    font-size: 55px;
}

.nightHeader {
    font-family: 'Bebas Neue', sans-serif;
    font-size: normal;
    font-weight: 400;
    font-size: 55px;
}
.titleImage {
	width: 15vw;
    display: block;
    float: left;
    margin-left: 1vw;
    margin-bottom: 2vh;
}
.playerContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100%;
}
.gameScreenImage {
    background: url(../../assets/images/image_16.png);
    background-size: cover;
}
.gameScreen {
    width: 55%;
    margin: 0; 
}
.voteResults {
    background: url(../../assets/images/image_23.png);
    background-size: cover; 
    width: 50%;
    display: flex;
    height: 100%;
    margin: auto;
}
.voteResultsNight {
    background: url(../../assets/images/image_34.png);
    background-size: cover; 
    width: 50%;
    display: flex;
    height: 100%;
    margin: auto;
}
