@import url('http://fonts.cdnfonts.com/css/american-typewriter');
@import url('http://fonts.cdnfonts.com/css/bebas-neue');

.create-lobby-title-wrapper{
  display: grid;
  place-items: center;
  margin: 2rem auto;
  width: 30vw;
}

.titleImage {
  width: 32vw;
}

h5 {
  color: white;
  font-family: 'American Typewriter', sans-serif;  
  font-weight: 700;
  font-style: normal;
  font-size: 1.6rem;
  margin: 0;
  margin-right: 42%;
  margin-top: -3%;
}

.user-selection-input {
  margin: 1%;
  height: 6vh;
  width: 33vw;
  background-color: #ffffff;
  transform: scale(0.8);
  font-family: 'American Typewriter', sans-serif;
  font-size: 1.7em;
  font-weight: 700;
  color: #5B5B5B;
  
  text-align: center;
  border-radius: 15px; 
   
}

.drop-selection-input {
  margin: 1%;
  height: 6vh;
  width: 33vw;
  background-color: #ffffff;
  transform: scale(0.8);
  font-family: 'American Typewriter', sans-serif;
  font-size: 1.7em;
  font-weight: 700;
  color: #5B5B5B;
  
  text-align: center;
  border-radius: 15px;
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 98% !important;
}

.create-game-btn {
  margin: 1%;
  height: 6vh;
  width: 33vw;
  background-size: 100%;
  transform: scale(0.8);
  font-family: 'Bebas Neue';
  font-size: 2em;
  font-weight: 600;
  color: white;
  text-align: center;
  border-radius: 0;
}

.create-game-btn:hover {
  opacity: 0.65;
  transform: scale(1);
  color: black;
  transition: ease-in 0.5s;
  box-shadow: 2px 2px 7px 2px rgba(236, 236, 236, 0.5);
}

.cancel-game-btn {

  height: 6vh;
  width: 33vw;
  background-color: transparent;
  transform: scale(0.8);
  font-family: 'Bebas Neue';
  font-size: 2em;
  font-weight: 600;
  color: white;
  text-align: center;
  border-radius: 0;
}

.cancel-game-btn:hover {
  transform: scale(1.2);
  transition: ease-in 0.5s;
}

