@import url('https://fonts.cdnfonts.com/css/american-typewriter');
@import url('https://fonts.cdnfonts.com/css/bebas-neue');

.playerFocusCardContainer {
	width: 300px;
	margin: auto;
}

.playerFocusCardBody {
	background-color: rgba(0, 0, 0, 0.7);
}

.playerFocusImage {
	width: 200px;
}

.playerFocusName { 
	font-size: 24px;
	font-family: "American Typewriter", serif;
}

.playerFocusStatus {
	font-size: 36px;
	font-weight: bold;
	font-family: 'Bebas Neue', sans-serif;
}