@import url('https://fonts.cdnfonts.com/css/american-typewriter');
@import url('https://fonts.cdnfonts.com/css/bebas-neue');

.playerFocusCardContainer {
	width: 300px;
	margin: auto;
}

.playerFocusCardBody {
	background-color: rgba(0, 0, 0, 0.7);
}

.playerFocusImage {
	width: 200px;
    width: 250px;
   position: relative;
}
.playerFocusAvatar {
    position: relative;

}

.playerFocusName { 
	font-size: 24px;
	font-family: "American Typewriter", serif;
}

.playerFocusStatus {
	font-size: 36px;
	font-weight: bold;
	font-family: 'Bebas Neue', sans-serif;
    padding: 5px;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}
.playerFocusStatus {
    width: 190px;
    position: absolute;
    left: 18%;
    bottom: 0px;
}
.playerFocusDetails {
    padding: 12px 3px;
    font-size: 26px;
    font-family: 'Bebas Neue';
    font-weight: bold;
    margin: 0;
}
.playerFocusTextContainer {
    margin-top: 1.5vh;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 7px;
    padding: 2px;
}
.playerFocusSubDetail {
    font-size: 20px;
    margin: 0;
}