
@import url('https://fonts.cdnfonts.com/css/bebas-neue');

.team {
	position: fixed;
	top: 0;
	right: 0;
	margin: 0;
	padding: 1em;
	font-family: 'Bebas Neue', sans-serif;
	font-weight: bold;
	font-size: 25px;
	background-color: rgba(0, 0, 0, 0.7);
}

.cultist {
	background-color: rgb(208, 0, 9, 0.7);
}

.investigator {
	background-color: rgb(0, 130, 209, 0.7);
}
.gameScreenContainer {
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-width: 1400px;
}
.rulesContainer {
    position: absolute;
    top: 8%;
    right: 0%;
    width: 200px;
    text-align: right;
    margin: auto;
}

.dayHeader {
    font-family: 'Bebas Neue', sans-serif;
    font-size: normal;
    font-weight: 400;
    font-size: 55px;
    margin-right: 25px;
    margin-top: 0;
}

.nightHeader {
    font-family: 'Bebas Neue', sans-serif;
    font-size: normal;
    font-weight: 400;
    font-size: 55px;
    margin-right: 25px;
    margin-top: 0;
}
.titleImage {
	width: 35%;
    display: block;
    float: left;
    margin-left: 1vw;
    margin-bottom: 2vh;
}
.roundTimerContainer{
    flex: 2;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 5vh;
}

.playerContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100%;
}
.gameScreenImage {
    background: url(../../assets/images/image_16.png);
    background-size: cover;
}
.gameScreenImageDay  {
    background: url(../../assets/images/day_background.png);
    background-size: cover; 
}
.gameScreenImageNight  {
    background: url(../../assets/images/night_background.png);
    background-size: cover; 
}
.gameScreen {
    width: 60%;
    margin: 0; 
}
.voteResults {
    width: 40%;
    display: flex;
    height: 100%;
    /* margin: auto; */
    max-width: 700px;
}
.voteResultsNight {
    width: 50%;
    display: flex;
    height: 100%;
    /* margin: auto; */
    max-width: 700px;
}
.gameRoomContainer{
    max-width: 1600px;
}
@media screen and(max-width: 1400px) {
    .gameScreen {
        width: 40%
    }
}
@media screen and (max-width: 1200px) {
	.roundTimerContainer {
        flex-direction: column;
        flex: 0;
    }
    .nightHeader {
        font-family: 'Bebas Neue', sans-serif;
        font-size: normal;
        font-weight: 400;
        font-size: 35px;
        margin-right: 25px;
        padding: 0;
        margin: 0;
    }
    .dayHeader {
        font-family: 'Bebas Neue', sans-serif;
        font-size: normal;
        font-weight: 400;
        font-size: 35px;
        margin-right: 25px;
        padding: 0;
        margin: 0;
    }
	
}
@media screen and (max-width: 1000px) {
	.roundTimerContainer {
        margin-top: 65px;
        font-size: 30px;
    }
	
}