.ghostViewContainer {
	width: 80%;
	height: 70vh;
	margin: auto;
	margin-left: 10%;
	margin-bottom: 15%;
	/* bottom: -15%;
	left: z;
	background: url("../../assets/images/image_118_smoke.png") no-repeat center;
	background-size: contain; */
	font-family: 'Bebas Neue', sans-serif;
}
.mirrorImage, .smoke {
	width: 99%;
	min-width: 300px;
}
.smoke {
	position: absolute
}
.mirrorImage {
	display: inline;
	z-index: 2;
}
.mirrorContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.targetName {
	font-size: 35px;
	font-weight: bold;
	min-height: 40px;
}
.imageContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.ghostImage {
	width: 70%;
	min-width: 200px;
	position: absolute;
	/* position: relative; */
	/* top: 18%; */
	/* border-top: 70px rgba(232, 232, 232, 0.605) solid;
	border-bottom: 70px rgba(232, 232, 232, 0.605) solid; */
}
.ghostButtonControl {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 5%;
	width: 100%;
}
.sendButton {
	font-family: 'Bebas Neue', sans-serif;
	height: 40px;
	width: 120px;
	border-radius: 5px;
	margin: 20px;
	background-color: #000000;
	color: white;
	font-weight: bold;
	font-size: 27px;
	border: solid gray 1px;
}
.sendButton:hover {
	cursor: pointer;
	border: 1px solid white;
}
.arrowButton {
	font-family: 'Bebas Neue', sans-serif;
	width: 70px;
	height: 40px;
	background-color: #000000;
	color: white;
	font-size: 30px;
	font-weight: bold;
	border: solid gray 1px;
	border-radius: 5px;
}
.arrowButton:hover {
	cursor: pointer;
	border: 1px solid white;
}