@import url('http://fonts.cdnfonts.com/css/american-typewriter');
@import url('http://fonts.cdnfonts.com/css/bebas-neue');

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  50% {
    filter:blur(10px)
  }
  80% {
    transform: translateX(30px);
    
  }
  100% {
    opacity: 1;
    transform: translate(0);
    filter: blur(0)
  }
}

.homepage-title-wrapper {
  display: grid;
  place-items: center;
  margin: 2rem auto;
  width: 30vw;
  animation-name: moveInFromLeft;
  animation-duration: 3s;
}

h5 {
  color: white;
  font-family: 'American Typewriter', sans-serif;
  font-weight: 800;
  font-size: 1.6rem;
  margin: 0;
  margin-right: 42%;
  margin-top: -3%;
}

.titleImage {
  width: 32vw;
}

.hostOrJoinBtns-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.user-selection-input{
  margin: 1%;
  height: 6vh;
  width: 33vw;
  background-size: cover;
  transform: scale(0.8);
  font-family: 'Bebas Neue';
  font-size: 2em;
  font-weight: 600;
  color: white;
  text-align: center;
  border-radius: 0;
}

.user-selection-input:hover {
  opacity: 0.65;
  transform: scale(1);
  color: black;
  transition: ease-in 0.5s;
  box-shadow: 2px 2px 7px 2px rgba(236, 236, 236, 0.5);
}

.form input {
  color: black;
  margin: 0;
  box-shadow: inset 1px 0px 5px 3px rgba(0, 0, 0, 0.4);
}
