.subTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.subTitleContainer h6 {
    font-size: 24px;
    font-family: 'Bebas Neue', sans-serif;
}
.border {
    width: 70px;
    border-bottom: 1.5px solid #ffffff;
    margin: 0px 10px;
}