@import url('https://fonts.cdnfonts.com/css/american-typewriter');
@import url('https://fonts.cdnfonts.com/css/bebas-neue');


@keyframes moveInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100px), scale(0.5);
    }
    50% {
        filter:blur(2px)
    }
    80% {
        transform: translateX(-30px);
        opacity: 90%;
    }
    100% {
        opacity: 1;
        transform: translate(0), scale(1);
        filter: blur(0)
    }
}

.player-card-entrance {
	display: grid;
	place-items: center;
	margin: 2rem auto;
	width: 30vw;
	animation-name: moveInFromTop;
	animation-duration: 700ms;
}

.lobbyContainer {
	display: flex;
	flex: row;
	width: 100%;
	margin: auto;
}

.titleImage {
	flex: left;
	width: 15vw;
	position: relative;
	top: -100px;
	left: -375px;
}

.playerStatus {
	width: 50%;
	max-height: 90vh;
	margin: 5px;
}
.otherPlayers {
	width: 50%;
	margin-right: 10px;
	max-height: 90vh;
}

.playerCount {
	font-family: 'American Typewriter', serif;
	font-size: 1rem;
	margin-top: -4.5%;
	font-weight: 500;
}

.playerListContainer{
    max-height: 60%;
    overflow: auto;
    overflow-x: hidden;
}

.playerListContainer::-webkit-scrollbar {
  width: 10px;
	padding-left: 1px;             /* width of the entire scrollbar */
}
.playerListContainer::-webkit-scrollbar-track {
  background: transparent;         /* color of the tracking area */
}
.playerListContainer::-webkit-scrollbar-thumb {
  background-color: transparent;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  /* border: 3px solid rgb(255, 255, 255);  creates padding around scroll thumb */
}

.playerListGameContainer {
	display: grid;
	gap: 30px 10px;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	padding: 0;
}
.playerListInnerWrap{
	display: flex;
	flex-direction: column;
	justify-content: left;
	margin: 0;
	padding: 0;
	position: relative;
}

.mainPlayerCard {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.playerCard {
	display: flex;
	flex-direction: row;
	justify-content: left;
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	width: 52%;
	margin: auto;
	margin-bottom: 10px;
}
.mainPlayerCardImage {
	width: 180px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	transform: rotate(-5.33deg);
	margin-right: 10px;
}
.playerCardImage {
	width: 100px;
	margin-right: 10px;
}
.playerTraits {
	font-weight: bold;
	font-family: 'Bebas Neue', sans-serif;
	color: white;
	font-size: 25px;
	margin: 0;
}
.playerTraitsMain {
	font-weight: bold;
	font-family: 'Bebas Neue', sans-serif;
	color: white;
	font-size: 35px;
	margin: 0;
}
.playerName {
	font-family: 'American Typewriter', sans-serif;
	color: white;
	text-align: left;
	margin-bottom: 3px;
	font-size: 18px;
}
.playerNameMain {
	font-family: 'American Typewriter', sans-serif;
	color: white;
	text-align: left;
	margin: 0;
	margin-bottom: 20px;
	font-size: 28px;
}
.lobbyName {
	font-family: 'Bebas Neue', sans-serif;
	color: white;
	margin: 0;
}
.playerDetails {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.gameCodeInput {
	background-color: #000000;
	width: 48%;
	margin: auto;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 5px;
	opacity: 0.8;
}
.gameCodeInput p {
    font-family: 'American Typewriter', sans-serif;
		color: white;
    font-weight: 700;
    width: 75%;
    font-size: 25px;
}

.copyButton {
		width: 30%;
		background-color: #000000;
		border: solid gray 1px;
		padding: 8px;
		margin: 3px;
		color: white;
		font-size: 24px;
		font-weight: 700;
		font-family: 'Bebas Neue', sans-serif;
		border-radius: 5px;
		cursor: pointer;
		transition: 0.3s;
}
.copyButton:hover {
		background-color: #535252;
		transition: 0.3s;
}

.start-game-btn {
	margin: 1%;
	height: 6vh;
	width: 31vw;
	background-size: 100%;
	transform: scale(0.8);
	font-family: 'Bebas Neue';
	font-size: 2em;
	font-weight: 600;
	color: white;
	text-align: center;
	border-radius: 0;
	border: 1px solid transparent;
}

.start-game-btn:hover {
	opacity: 0.65;
  color: black;
  transition: ease-in-out 0.5s;
  transition-timing-function: ease-in-out .8s;
  box-shadow: 2px 2px 7px 2px rgba(236, 236, 236, 0.5);
  cursor: pointer;
}

.cancel-game-btn {
	height: 6vh;
	width: 31vw;
	background-color: transparent;
	transform: scale(0.8);
	font-family: 'Bebas Neue';
	font-size: 2em;
	font-weight: 600;
	color: white;
	text-align: center;
	border-radius: 0;
	border: 1px solid transparent;
}

.cancel-game-btn:hover {
	transition: ease-in 0.5s;
  box-shadow: 2px 2px 7px 2px rgba(236, 236, 236, 0.5);
  cursor: pointer;
}

.homepageFooter{
  display: flex;
  justify-content: center;
  place-items: center;
  margin: 0 auto;
  margin-top: 0.5%;
  font-family: 'American Typewriter', sans-serif;
  font-size: 20px;
  font-weight: 800;
	z-index: 600;
}

.questionMark {
  flex-direction: right;
  width: 2vw;
  margin-left: 1%;
  color: white;
  cursor: pointer;
}

.questionMark:hover {
	transform: scale(1.2);
	transition: ease-in-out 0.3s;
}

.modalContent {
  align-items: center;
  height: 70vh;
  width: 57vw;
  border-radius: 10px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;
}

.modalContent::-webkit-scrollbar {
  width: 10px;
	padding-left: 1px;               /* width of the entire scrollbar */
}
.modalContent::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);        /* color of the tracking area */
}
.modalContent::-webkit-scrollbar-thumb {
  background-color: rgba(104, 12, 12);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  /* border: 3px solid rgb(255, 255, 255);  creates padding around scroll thumb */
}

.headerTwo {
  color: rgba(104, 12, 12);
} 

.listHeader {
  font-size: 20px;
  font-weight: 400;
}

.voteCounter {
	position: absolute;
	/* right: -13%; */
	bottom: -20%;
	font-size: 25px;
	width: 90%;
	margin: auto;
	font-family: 'American Typewriter', sans-serif;
	font-weight: 700;
}

.dayVoteCounter {
	color: #0083D1;
}

.nightVoteCounter {
	color: rgb(208, 0, 9);
}

.playerStatusOverlayImage {
	position: absolute;
	left: 20%;
	top: 30%;
	max-width: 200px;
}
.cultistBadge {
	position: absolute;
	bottom: 0;
	left: 19%;
	width: 50px;
}


@media screen and (max-width: 1920px) {
	.titleImage {
		height: 18vh;
		width: 16vw;
		left: -570px;	
		top: 150px;
		margin-top: -8%;
		margin-bottom: 75px;
	}
}
  
@media screen and (max-width: 820px){
	.titleImage {
		width: 35vw;
		top: -100px;
		left: -255px;  
	}

	.start-game-btn {
		width: 45vw;
	}

	.cancel-game-btn {
		width: 45vw;
	}
}