.main-player-status-overlay {
  display: flex;
  position: absolute;
  width: 50%;
  height: 20%;
  color: white;
  margin: 0 auto;
  z-index: 2;
}

.player-status-overlay {
  display: flex;
  position: absolute;
  width: 70%;
  height: 100%;
  color: white;
  margin: 0 auto;
  z-index: 2;
}

.main-player-card-badge {
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 50%;
  top: 50%;
}

.player-card-badge {
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  left: 10%;
  /* top: 0%; */
  transform: scale(0.8);
}