.yourPlayerDetailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.headerTwo {
  text-align: center;
}
.playerStatusDetail {
  font-size: 22px;
  font-weight: bold;
  padding: 7px;
  border: 3px solid lightgray;
  border-radius: 10px;
}
.playerStatusDetailSpan {
  color: greenyellow;
  font-weight: normal;
}
.isPlayer {
  padding: 7px;
  font-size: 22px;
  border: 3px solid lightgray;
  border-radius: 10px;
  display: inline;
  margin-bottom: 5px;

}
.isPlayerDark {
  padding: 7px;
  font-size: 20px;
  border: 3px solid rgb(25, 25, 25);
  border-radius: 10px;
  display: inline;
  margin-bottom: 5px;
}
.notPlayer {
  padding: 7px;
  font-size: 22px;
  border: 3px solid transparent;
  border-radius: 10px;
  display: inline;
  margin-bottom: 5px;

}
.notPlayerDark {
  padding: 7px;
  font-size: 20px;
  border: 3px solid transparent;
  border-radius: 10px;
  display: inline;
  margin-bottom: 5px;
}
.infoList {
  list-style: none;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 90%;
  max-width: fit-content;
}
.buttonGroup {
  width: 40%;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.timeLogoDay {
  padding: 5px;
  border: 2px solid transparent;
  background-color: black;
  color: yellow;
  font-size:30px;
  transition: all 0.4s;
}
.timeLogoDay:hover {
  cursor: pointer;
  border: 2px solid yellow;
}
.timeLogoNight {
  padding: 5px;
  border: 2px solid transparent;
  background-color: black;
  color: rgb(56, 56, 230);
  font-size:30px;
}
.timeLogoNight:hover {
  cursor: pointer;
  border: 2px solid rgb(56, 56, 230);
}
.timeInfoContainerDay {
  position: absolute;
  animation : goToDay 1.2s forwards ease-in-out;
  background-color: #fbfbbc;
  color: black;
  height: 250px;
}
.timeInfoContainerDaySmall {
  position: absolute;
  animation: goToNightFromDay 1.2s forwards ease-in-out;
  background-color: rgb(251, 251, 188);
  color: black; 
  height: 250px;
}
.timeInfoContainerNight {
  position: absolute;
  animation: goToNight 1.2s forwards ease-in-out;
  background-color: rgb(0, 0, 73);
  height: 252px;
  right: 0;
}
.timeInfoContainerNightSmall {
  position: absolute;
  animation: goToDayFromNight 1.2s forwards ease-in-out;
  background-color: rgb(0, 0, 73);
  height: 252px;
  right: 0;
}
.infoListTime {
  animation: goToNightText 1.2s;
  margin: 0;
  list-style: none;
  padding-left: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.8rem;
  height: 250px;
  width: 95%;
}
.infoListTimeSmall {
  visibility: hidden;
  height: 250px;
  width: 100%;
}
.timeDiv {
  position: relative;
  height: 250px;
  width: 92%;
  max-width: 790px;
  margin: auto;
  border: 6px solid #444;
  border-radius: 10px;
  overflow: hidden;
}
.cultistSpan{
  padding: 5px 10px;
  background-color: rgb(211, 32, 32);
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}
.investigatorSpan{
  padding: 5px 10px;
  background-color: rgb(37, 106, 244);
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}
.ghostSpan{
  padding: 5px 10px;
  background-color: rgb(165, 164, 164);
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}
.imageSpan {
  width: 200px;
  /* margin: auto; */
  margin-right: 10px;
}
.playerFlexLI {
  padding: 7px;
  font-size: 22px;
  border: 3px solid lightgray;
  border-radius: 10px;
  display: inline;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
}
.noPlayerFlexLI {
  padding: 7px;
  font-size: 22px;
  border: 3px solid transparent;
  border-radius: 10px;
  display: inline;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
}


.modalContent {
  align-items: center;
  height: 75vh;
  width: 65vw;
  max-width: 1200px;
  border-radius: 10px;
  color: rgb(220, 220, 220);
  background-color: black;
  overflow: auto;
  scrollbar-color: rgb(208, 0, 9);
}
.modalContent::-webkit-scrollbar {
  width: 10px;
	padding-left: 1px;               /* width of the entire scrollbar */
}
.modalContent::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);        
}
.modalContent::-webkit-scrollbar-thumb {
  background-color: rgb(208, 0, 9);    
  border-radius: 20px;     
}
.homepageFooter{
  display: flex;
  justify-content: center;
  place-items: center;
  margin: 0 auto;
  margin-top: 0.5%;
  font-family: 'American Typewriter', sans-serif;
  font-size: 20px;
  font-weight: 800;
  width: 115px;
}
.questionMark {
  flex-direction: right;
  width: 2vw;
  color: white;
  cursor: pointer;
}

.questionMark:hover {
	transform: scale(1.2);
	transition: ease-in-out 0.3s;
}
@media screen and (max-width: 820px) {
  .modalContent {
    height: 70vh;
    width: 97vw;
  }
	
}
@keyframes goToDay {
	0% {
		transform: scaleX(0.03);
    transform-origin: left;
	}
	100% {
    transform-origin: left;
		transform: scaleX(0.97);
	}
}
@keyframes goToNightFromDay {
  0% {
		transform: scaleX(0.97);
    transform-origin: left;
	}
	100% {
    transform-origin: left;
		transform: scaleX(0.03);
	}
}
@keyframes goToNight {
	0% {
		transform: scaleX(0.03);
    transform-origin: right;
	}
	100% {
    transform-origin: right;
		transform: scaleX(0.97);
	}
}
@keyframes goToDayFromNight {
  0% {
		transform: scaleX(0.97);
    transform-origin: right;
	}
	100% {
    transform-origin: right;
		transform: scaleX(0.03);
	}
}
@keyframes goToNightText {
	0% {
		visibility: hidden;
	}
	99% {
		visibility: hidden;
	}
  100% {
    visibility: visible;
  }
}