@import url('https://fonts.cdnfonts.com/css/american-typewriter');
@import url('https://fonts.cdnfonts.com/css/bebas-neue');

.join-game-title-wrapper{
  display: grid;
  place-items: center;
  margin: 2rem auto;
  width: 30vw;
}

.titleImage {
  width: 32vw;
}

.header {
  color: white;
  font-family: 'American Typewriter', sans-serif;  
  font-weight: 700;
  font-style: normal;
  font-size: 1.55rem;
  margin: 0;
  margin-right: 30%;
  margin-top: -3%;
}

.join-game-modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.user-selection-input {
  margin: 1%;
  height: 6vh;
  width: 33vw;
  background-color: #ffffff;
  transform: scale(0.8);
  font-family: 'American Typewriter', sans-serif;
  font-size: 1.7em;
  font-weight: 700;
  color: #5B5B5B;
  
  text-align: center;
  border-radius: 15px;
}

.continue-game-btn {
  margin: 1%;
  height: 6vh;
  width: 33vw;
  background-size: 100%;
  transform: scale(0.8);
  font-family: 'Bebas Neue';
  font-size: 2em;
  font-weight: 600;
  color: white;
  text-align: center;
  border-radius: 0;
  border: 1px solid transparent;
}

.continue-game-btn:hover {
  opacity: 0.65;
  transform: scale(1);
  color: black;
  transition: ease-in 0.5s;
  box-shadow: 2px 2px 7px 2px rgba(236, 236, 236, 0.5);
}

.cancel-join-btn {
  height: 6vh;
  width: 33vw;
  background-color: transparent;
  transform: scale(0.8);
  font-family: 'Bebas Neue';
  font-size: 2em;
  font-weight: 600;
  color: white;
  text-align: center;
  border-radius: 0;
  border: 1px solid transparent;
}

.cancel-join-btn:hover {
  transform: scale(1.2);
  transition: ease-in 0.5s;
}
